@model IEnumerable<webmvcEF.DTO.Product>

@{
    int i = 1;
}

<div class="col-md-8 offset-md-2">

    <h1 class="text-center"><i class="fas fa-comments-dollar text-success"></i> Transaction History</h1>
    <select class="form-select" id="txtCatID" name="txtCatID" style="min-width:200px;" asp-items="ViewBag.CategoryId">
        <option selected style="text-align: center;">Lọc theo danh mục </option>
    </select>
    <form asp-action="Index" class="d-inline" asp-controller="ProductsWithAjax">
        <input type="submit" value="Reset" class="btn btn-secondary" />
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    No.
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","ProductsWithAjax",null,Context.Request.Scheme)','New Product')" class="btn btn-success text-white"><i class="fas fa-random"></i> New Product</a>
                </th>
            </tr>
        </thead>
        <tbody id="show">
            
        </tbody>
    </table>
</div>