@using webmvcEF.DTO
@model IEnumerable<webmvcEF.DTO.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
    List<OrderProduct> orderDetails = ViewBag.ChiTiet;
}

<h1 style="text-align:center;">List Order</h1>


<table class="table table-hover table-bordered">
    <thead>
        <tr id="row_tbl">
            <th style="width: 10%">No.</th>
            <th style="width: 20%">FullName</th>
            <th style="width: 30%">Contact Info</th>
            <th style="width: 30%">Processing Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_text">
                <td>@(++i)</td>
                <td>
                    @if (item.Customer.Gender == true)
                    {
                        <p>Gender: Man</p>
                    }
                    else
                    {
                        <p>Gender: Women</p>
                    }
                    @item.Customer.FullName
                </td>
                <td>
                    <p>@item.Customer.Email</p>
                    <p>@item.Customer.Phone</p>
                    <p>@item.Customer.Address</p>
                </td>
                <td>
                    <p>Order date: @item.OrderDate</p>
                    @if (item.ShipDate.HasValue)
                    {
                        <p>Ship date: @item.ShipDate</p>
                    }
                    else
                    {
                        <p>Processing </p>
                    }
                </td>
                <td>
                    <a onclick="showInPopup('@Url.Action("ShowDetail","Order",new {id = item.Id},Context.Request.Scheme)','Details Order')" class="btn btn-info text-white"><i class="fa-solid fa-circle-info"></i> Details</a>
                </td>
            </tr>
        }

    </tbody>
</table>


<div class="modal" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>



